<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>tweet graph</title>
    <link rel="stylesheet" href="css/foundation.min.css">
    <script src="js/vendor/jquery.js"></script>
    <script src="js/foundation/foundation.js"></script>
    <script src="js/foundation/foundation.abide.js"></script>
    <script src="js/foundation/foundation.topbar.js"></script>
    <script src="js/foundation/foundation.magellan.js"></script>
    <script src="js/foundation/foundation.reveal.js"></script>
    <script src="js/foundation/foundation.alert.js"></script>
    <link rel="stylesheet" href="css/normalize.css">
    <script src="js/vendor/modernizr.js"></script>
    <link rel="stylesheet" href="css/main-page.css">
    <link rel="stylesheet" href="css/ticker.css">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body ng-app="app">

<!-- Navigation begins here -->
<nav class="top-bar" data-topbar role="navigation">
    <div>
        <div>
            <ul class="title-area">
                <li class="name">
                    <h1><a href="#" title="Parrot" class="logo">Tweet Graph</a></h1>
                </li>
                <li class="toggle-topbar menu-icon">
                    <a href="#"><span>Menu</span></a>
                </li>
            </ul>
            <section class="top-bar-section">
                <ul class="right">
                    <li><a href="/profile">Profile</a></li>
                    <li class="divider" ></li>
                    <li class="active"><a href="#">Graph</a></li>
                    <li class="divider"></li>
                    <li><a href="#">About Us</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Contact Us</a></li>
                    <li class="divider"></li>
                    <li><a href="/logout">Logout</a></li>
                </ul>
            </section>
        </div>
    </div>
</nav>
<!-- Navigation ends here -->

<section role="main" id="main-content" class="scroll-container">


    <div class="row">
        <div class="small-12 medium-12 large-12 columns">
            <a href="#" class="button expand" data-reveal-id="hashtagModal">
                Select Hashtags
            </a>
        </div>
    </div>

    <div class="row">


        <div class="small-12 medium-6 large-6 columns">

            <div class="row">
                <div class="small-12 medium-12 large-12 columns">
                    <div id="graphBoard" ng-controller="subgraphController">
                        <canvas id="graph_pane" height="200px" width="200px">

                        </canvas>
                    </div>
                </div>
            </div>

        </div>

        <div class="small-12, medium-6 large-6 columns">

            <div id="tweetPane" ng-controller="tweetController">
                <div class="row">
                    <div class="small-5 medium-5 large-5 columns">

                    </div>

                    <div class="small-2 medium-2 large-2 columns">
                        <i id="ticker-prev" class="fa fa-arrow-circle-up fa-3x"></i>
                    </div>

                    <div class="small-5 medium-5 large-5 columns">

                    </div>

                </div>


                <ul class="newsticker" id="ticker">
                    <li ng-repeat="tweet in tweets">
                        <div class="row">
                            <div class="small-12 medium-12 large-12 columns">
                                {{tweet.username}}
                            </div>
                        </div>
                        <div class="row">
                            <div class="small-12 medium-12 large-12 columns">
                                {{tweet.text}}
                            </div>
                        </div>
                    </li>
                </ul>
                <div class="row">
                    <div class="small-5 medium-5 large-5 columns">

                    </div>

                    <div class="small-2 medium-2 large-2 columns">
                        <i id="ticker-next" class="fa fa-arrow-circle-down fa-3x"></i>
                    </div>

                    <div class="small-5 medium-5 large-5 columns">

                    </div>

                </div>
            </div>

        </div>


    </div>

</section>



    <!-- Put modal to select hashtags here  -->
    <div id="hashtagModal" class="reveal-modal" data-reveal ng-controller="hashtagButtonController">
        <ul class="button-group" ng-repeat="group in groups">
            <li ng-repeat="hashtag in group">
                <button class="button" id="{{hashtag.id}}"
                        ng-class="get_class(hashtag)"
                        ng-click="handle_click(hashtag)">
                    {{hashtag.name}}
                </button>
            </li>
        </ul>
        <a class="close-reveal-modal">&#215;</a>
    </div>

<script src="js/lodash.js"></script>
<script src="js/jqueryUtils.js"></script>
<script src="js/profile-page.js"></script>
<script src="js/socket.io.js"></script>
<script src="bower_components/angular/angular.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0rc1/angular-route.min.js"></script>
<script src="js/angularApps/angularApp.js"></script>
<script src="js/angularApps/HashtagFetchService.js"></script>
<script src="js/angularApps/hashtagButtonController.js"></script>
<script src="js/angularApps/socketService.js"></script>
<script src="js/angularApps/tweetController.js"></script>
<script src="js/angularApps/subgraphService.js"></script>
<script src="js/angularApps/subgraphController.js"></script>
<script src="js/jquery.newsTicker.min.js"></script>
<script src="js/tickercontrol.js"></script>
</body>
</html>